#social-wrap
  height: 50vh
  width: 100%
  position: absolute
  right: 0
  top: 0
  z-index: 1
  box-shadow: -2px 0 4px rgba(0,0,0,0.25)

.social-outer
  top: 0
  height: 100%
  box-shadow: 0 1px 2px rgba(0,0,0,0.15)
  overflow: hidden
  position: relative
  background: url('../images/subtlenet.png') $color-white

  &.montage, &.video
    .social-item .social-inner
      &.socialpost
        opacity: 0

  .social-item
    width: 100%
    color: $color-dark * 3
    position: relative
    display: block
    top: 0
    text-align: left

  .social-inner
    float: left
    width: 100%
    margin: 0
    box-shadow: 0 -2px 4px rgba(0,0,0,0.08)
    position: relative

    &.montage, &.video
      position: fixed
      top: 0
      left: 0
      overflow: hidden
      height: 50vh
      z-index: 4
      opacity: 0

    &.montage
      > img
        min-height: 100%
        min-width: 100vw
        position: absolute
        top: calc(50% + 1px)
        left: 50%
        transform: translate(-50%,-50%)

    &.video
      height: 100vh
      background: $color-dark

      video, embed
        height: 100%

    &.socialpost
      padding: 1.75em 6em 2.25em 2em
      font-size: 1.15em
      opacity: 1
      height: auto
      background: linear-gradient($color-lightest 0%, transparent 50%)

      &.social-twitter
        .social-name > p
          color: $color-twitter

          &:before
            content: "@"

        .social-icon
          color: $color-twitter

      &.social-facebook
        .social-name > p
          color: $color-facebook

        .social-icon
          color: $color-facebook

      &.social-instagram
        .social-name > p
          color: $color-instagram

        .social-icon
          color: $color-instagram

      &.social-custom
        .social-name > p
          color: $color-primary

        .social-icon
          color: $color-primary

  .social-media
    margin: 1em 0
    display: block
    width: 100%

    > img
      max-width: 100%
      max-height: 30vh
      height: auto
      width: auto

  .social-img
    width: 5em
    float: left
    vertical-align: top
    position: absolute

    img
      width: 100%
      border-radius: $border-radius
      overflow: hidden
      box-shadow: 0 1px 2px rgba(0,0,0,0.15)

  .social-name
    float: left
    width: calc(100% - 6.67em)
    margin-left: 6.67em
    position: relative

    > p
      display: inline-block
      width: calc(100% - 1em)
      font-size: 1.25em
      margin: 0 0 0.75em 0
      line-height: 1.33

  .social-post
    float: left
    width: calc(100% - 6.67em)
    margin-left: 6.67em

    > p
      font-size: 1em
      line-height: 1.25
      margin: 0

  .social-icon
    position: absolute
    right: 0.25em
    top: 0.3em
    font-size: 4.25em
    color: darken($color-primary-dark, 12.5%)
    text-shadow: 0 1px 0 fade-out($color-white, 0.925)
