<div id="brick-wrap"
  class="bricks-wrap"
  ng-init="getPhotos()">

  <div id="brick{{$index}}" 
    class="brick"
    ng-repeat="brick in bricks[0] track by $index">
    <img ng-src="{{ brick.jpg }}" alt="Brick">
  </div>

</div>
<div id="brick-highlight"
  ng-class="{'visible': highVisible}">
  <img id="brick-highlight-img" ng-src="{{ brickHighlight.jpg }}" alt="Highlight">
</div>

<div id="social-wrap">

  <div class="social-outer {{feedPosts.type}}" ng-init="getPosts()">

    <div id="social{{$index}}" 
      class="social-item {{feedPost.type}}"
      ng-repeat="feedPost in feedPosts[0] | limitTo: minPosts track by $index"
      type="feedPost.type"
      social-item>

      <div class="social-inner socialpost social-{{feedPost.data.site}}"  
        ng-if="feedPost.type === 'socialpost'">
        <div class="social-img">
          <img ng-src="{{feedPost.data.avatar_url}}">
        </div>
        <div class="social-name">
          <p>{{feedPost.data.screen_name}}</p>
        </div>
        <div class="social-post">
          <p ng-bind-html="feedPost.data.title"></p>
          <span class="social-media" ng-if="feedPost.data.media_url">
            <img ng-src="{{feedPost.data.media_url}}">
          </span>
        </div>
        <div class="social-icon">
          <i class="icon icon-{{feedPost.data.site}}"></i>
        </div>
      </div>

      <div class="social-inner montage" 
        ng-if="feedPost.type === 'montage'">
        <!-- <img ng-src="{{feedPost.data.url}}"> -->
        <iframe src="http://localhost:30113" height="100%" width="100%" frameborder="0" ng-if="$index === 0"></iframe>
      </div>

      <div class="social-inner video" 
        ng-if="feedPost.type === 'video'">
        <video width="100%" height="540px" id="socialVideo{{$index}}">
          <source ng-src="{{feedPost.data.url}}">
        </video>
      </div>

    </div>

  </div>

</div>